<?php
$this->headScript()->appendFile('//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js');
$this->headLink()->appendStylesheet('//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/styles/github.min.css');
?>
<div class="hero-unit">
	<h1><i class="icon icon-dashboard"></i> Admin Dashboard</h1>
	<p class="lead">This is the default admin dashboard. Hooray!</p>
</div>

<div class="container">

<h2>Intro</h2>
<p>This module is pretty much the same thing as <a href="https://github.com/ZF-Commons/ZfcAdmin">ZfcAdmin</a> which is likely to be better.
I probably should've just forked that for my own purposes but I didn't</p>

<h2>Templates &amp; Views</h2>
<p>Typically, you would replace this view script by providing an alternative in config:</p>
<pre><code class="php"><?php
$code = <<<EOF
// ... 
	'template_map' => array(
		'ng-admin/index/index' => 'path/to/alternative/template.phtml',
	),
// ...
EOF;
echo $this->escapeHtml($code);
?></code></pre>
<p>By default, the admin layout provided is not used. The easiest thing to do is install a module that will switch layouts based on route such as <code><a href="https://bitbucket.org/netglue/zf2-route-layout-module">netglue/zf2-route-layout-module</a></code></p>
<pre><code class="php"><?php
$code = <<<EOF
// ...
	'netglue_route_layout' => array(
		'by_layout' => array(
			'ng_admin_layout' => array( // Keyed with template name
				'ngadmin', // Route Name
			),
		),
	),
// ...
EOF;
echo $this->escapeHtml($code);
?></code></pre>
<p>You can override the layout template in the same way as this template by providing a value in <code>template_map</code> with the key <code>ng_admin_layout</code></p>

<h2>Navigation</h2>
<p>This admin module doesn't do a whole lot, but it does create a separate navigation container with the name <code>ngadmin</code>, so in your navigation configuration you can easily add locations thus:</p>
<pre><code class="php"><?php
$code = <<<EOF
// ...
	'navigation' => array(
		'ngadmin' => array(
			'something' => array(
				'label' => 'Do Something',
				'class' => 'icon icon-question', // Add a bootstrappy icon...
				'route' => 'some/route-name',
			),
		),
	),
// ...
EOF;
echo $this->escapeHtml($code);
?></code></pre>
<p>The admin navigation factory is named <code>admin-nav</code> so in your layout, to render the navigation tree, you'd do something like:</p>
<pre><code class="php">echo $this-&gt;navigation()-&gt;('admin-nav');</code></pre>

</div>

<script type="text/javascript">
hljs.initHighlightingOnLoad();
</script>
