<?php echo $this->doctype(); ?>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <?php echo $this->headTitle('Admin')->setSeparator(' - ')->setAutoEscape(false) ?>

		<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
		
		<!-- Stylesheets|Links -->
		<?php
		/**
		 * Styles
		 */
		$this->headLink()->appendStylesheet('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css');
		$this->headLink()->appendStylesheet('//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css');
		$this->headLink()->appendStylesheet('//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome-ie7.min.css', 'screen', 'IE 7');
		echo $this->headLink();
		?>

    <!-- Scripts -->
    <?php
    // HTML5 Support for older browsers
    $this->headScript()->prependFile('//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',));
		// Bootstrap
    $this->headScript()->prependFile('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js');
    // JQuery
    $this->headScript()->prependFile('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js');
    echo $this->headScript();
		?>
	<style type="text/css">
		body {
			background: #eee;
		}
		header.row {
			margin: 0;
			background: #000;
		}
		#nav {
			margin: 0;
		}
		.content-row {
			background: #fff;
			padding-top: 20px;
			padding-bottom: 50px;
		}
		.row.footer {
			margin-top: 0;
			padding-top: 30px;
			border-top: 1px solid #ccc;
		}
	</style>
  </head>
  <body>
  
  <header class="row">
		<div id="nav" class="navbar navbar-inverse">
			<div class="navbar-inner">
				<?php echo $this->navigation('admin-nav')->menu()->setUlClass('nav'); ?>
			</div>
		</div>
  </header>
	<div class="row content-row">
		<div id="content">
			<div class="container">
				<?php echo $this->layout()->content; ?>
			</div>
		</div>
	</div>

<script type="text/javascript">
/**
 * Turns nested lists into drop drown navigation, but make sure that the top-level item
 * has an # href as the target won't work...
 */
$(function() {
	var _linkIndex = 0;
	$('#nav>div>ul>li>ul').each(function() {
		var ul = $(this);
		var link = ul.prev('a');
		link.addClass('dropdown-toggle').attr('data-toggle', 'dropdown');
		link.attr('role', 'button');
		link.append($('<span class="caret"></span>'));
		var li = link.parent('li');
		li.addClass('dropdown');
		ul.addClass('dropdown-menu');
		if(ul.find('ul').size() >= 1) {
			ul.find('ul').each(function() {
				$(this).parent('li').addClass('dropdown-submenu');
				$(this).addClass('dropdown-menu');
			});
		}
	});
});
</script>
	
	<div class="row footer">
		<div class="container">
			<p><em><?php echo date("l jS F Y H:i e");?></em></p>
		</div>
		<div class="container">
			<a rel="author" class="icon icon-globe muted" href="http://netglue.co" title="Web design and development services in Devon, UK"> Made by Net Glue in Devon</a>
		</div>

	</div>
	
	<?php echo $this->inlineScript() ?>
  </body>
</html>
